:root {
    --color-primario: rgba(0, 63, 105, 1);
    --color-primario-light: rgba(0, 63, 105, 0.85);

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.usuario a {
    color: #020202;
}

#header {
    background-color: var(--color-primario);
}

.navbar-nav a {
    color: #ffffff;
}

.navbar-toggler-icon {
    color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    transform: scale(1.05, 1.05);
    transition: all 0.4s ease-in-out;
}

.navbar-nav a {
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

.logo {
    width: 70px;
    height: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none !important;
    color: #DC3545;
}

.carousel-item img {
    filter: grayscale(75%);
}

.carousel-item {
    min-height: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carrusel {
    width: 100%;
    height: 250px;
    position: relative;
}

#card-nosotros {
    max-width: 100%;
    position: static;
}

@media (min-width:768px) {
    .carousel-item {
        min-height: 500px;
        background-attachment: fixed;
    }

    #carrusel {
        height: 500px;
    }

    #card-nosotros {
        position: absolute;
        top: 25%;
        left: 15%;
        width: 35%;
        text-align: justify;
        -webkit-box-shadow: -2px 5px 9px 2px rgba(0, 0, 0, 0.43);
        box-shadow: -2px 5px 9px 2px rgba(0, 0, 0, 0.43);
    }
}



.carousel-caption h5 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.carousel-caption p {
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

@media (max-width:768px) {
    .carousel-caption {
        font-size: 1rem;
    }

    .carousel-caption h5 {
        text-align: center;
        font-size: 1rem;
    }
}

.carousel-caption button {
    position: absolute;
    left: 0;
    text-shadow: 2px 2px 4px black;
}

.btn-carrusel {
    color: white;
    border-color: whitesmoke;
    background-image: none;
    background-color: transparent;
    border-radius: 20px;
}

/* Nosotros */

.titlesection {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    position: relative;
    margin-bottom: 0;
    text-align: center;
}

#nosotros {
    position: relative;
}

.titlesection:after {
    content: '';
    background-color: var(--color-primario);
    display: block;
    width: 2em;
    height: 3px;
    left: 50%;
    margin-left: -1em;
    margin-top: 3px;
    position: absolute;
}

#filtroContainer {
    position: relative;
}

:is(#filtroContainer, #nosotros):after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 0.5em;
    width: 50%;
    opacity: 25%;
    border-top: 1px solid #DC3545;
}

#filtroEstilo>option:hover {
    background-color: var(--color-primario);
    color: #ffffff;
}

#image {
    min-height: 200px;
}

#mostrador>.card {
    flex-basis: 100%;
}

#cont-mostrador #mensaje p {
    font-size: 2rem;
}

.popupimage {
    position: relative;
    transition: all 500ms ease-in-out;
}

.popupimage:hover {
    display: block;
    transform: scale(1.01);
    filter: grayscale(75%);
}

.popupimage:hover+.hide {
    display: block;
}

.fa-search-plus {
    font-size: 1rem;
}

.popupimage.fa-search-plus:hover {
    transform: scale(1.01);
}

.precio {
    font-size: 2rem;
}

.oculto {
    display: none !important;
}

.dropdown-menu>.dropdown-item:hover {
    background-color: var(--color-primario);
    color: #ffffff;
}

#contacto {
    background-image:
        linear-gradient(black, black),
        url("../images/bg.jpg");
    background-size: cover;
    background-blend-mode: saturation;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

footer {
    color: white;
    background-color: var(--color-primario);
}

.socialicons a {
    color: #dfdfdf;
}

.footer-nav a {
    text-decoration: none;
    color: #dfdfdf !important;
}

.footer-nav a:hover,
.socialicons a:hover {
    text-decoration: none;
    color: #ffffff !important;
}


#formContainer {
    max-width: 600px;
}

.btn {
    background-color: var(--color-primario);

}

.btn:hover {
    background-color: var(--color-primario-light);
}

/* Registro */

#seccionRegistro {
    background-image: url("../images/gallery/5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Login */

#seccionLogin {
    background-image: url("../images/gallery/6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Carrito de compras overlay */

.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
}

.bs-canvas-left {
    left: 0;
}

.bs-canvas-right {
    right: 0;
}

.bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
}